/* how to sort the content in between the selectors: alphabetical order */

/* the overlay specification */

.modal {
    background-color: #1c404c;
    bottom: 40px;
    left: 40px;
    right: 40px;
    top: 40px;
    position: fixed;
    overflow: scroll;
    overscroll-behavior: contain;
    padding: 30px;
}

.modal p {
    background-color: #1c404c;
    color: #e3e4e8;
    font-family: "aktiv-grotesk";
    font-display: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0px 0px 20px;
    text-align: left;
}

.modal-image {
    margin: auto;
    background-color: #1c404c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding-top: 20px;
}

.button-no-3 {
    border: none;
    background-color: #1c404c;
    color: #e3e4e8;
    display: flex;
    font-family: "aktiv-grotesk";
    font-display: auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
}

.button-no-3:hover {
    padding: 0px;
    text-decoration: underline;
    transition: none;
}

.icon-arrow-left {
    background-color: #1c404c;
    margin-right: 10px;
    margin-bottom: 0px;
}

.preview-img {
    filter: contrast(100%);
    object-fit: cover;
    margin-bottom: 20px;
    max-height: 500px;
    width: 100%;
}

#add-info {
    font-style: italic;
    padding-bottom: 30px;
}
